.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 20px;
  border: none;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-secondary;
  background-color: $background-color-accent;
  transition-property: color, background-color, outline-color;
  transition-duration: $animation-duration;

  &:hover {
    background-color: $button-hover-background-color;
  }

  @include focus;

  &:active {
    color: fade-out($text-color-secondary, 0.7);
    background-color: $button-hover-background-color;
  }
}

.button--secondary {
  color: $text-color;
  background-color: $button-secondary-background-color;

  &:hover {
    background-color: $button-secondary-hover-background-color;
  }

  &:active {
    color: fade-out($text-color, 0.7);
    background-color: $button-secondary-hover-background-color;
  }
}

.button--adaptive {
  padding: 10px 27px;
  font-size: inherit;
  line-height: inherit;

  @media #{$tablet-desktop} {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
