.categories {
  @media #{$desktop} {
    padding-top: 81px;
  }
}

.categories__list {
  display: grid;
  padding: 0;
  margin: 0;
  row-gap: 20px;
  list-style: none;

  @media #{$tablet-desktop} {
    row-gap: 30px;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 80px;
  }
}
