.container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
  }
}

.container--narrow {
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}
