.container {
  padding: 0 20px;

  @media #{$tablet-desktop} {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media #{$desktop} {
    width: 1220px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
  }
}

.container--narrow {
  @media #{$tablet} {
    padding-right: 70px;
    padding-left: 70px;
  }
}
