.copyright__link {
  text-decoration: none;
  color: $text-color-additional;

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  font-size: 16px;
  line-height: 20px;
}

.copyright__logo {
  fill: $copyright-logo-color;
}

.copyright__link:hover .copyright__logo {
  fill: $copyright-logo-hover-color;
}
