.form {
  padding: 0 0 32px;
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media #{$tablet-desktop} {
    padding-bottom: 81px;
    font-size: 20px;
    line-height: 28px;
  }
}

.form__desc {
  width: 260px;
  margin: 0 0 39px;
  font-size: 14px;
  line-height: 18px;

  @media #{$tablet-desktop} {
    width: 360px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__section {
  padding: 0 0 10px;
  border: none;
  margin: 0;

  @media #{$tablet-desktop} {
    padding-bottom: 45px;
  }
}

.form__section-heading {
  margin: 0 0 35px;

  @media #{$tablet-desktop} {
    grid-column: 1 / 3;
    margin-bottom: 76px;
  }
}

.form__field {
  margin: 0 0 14px;

  @media #{$tablet-desktop} {
    margin-bottom: 19px;
  }
}

.form__radiogroup {
  margin: 23px 0 16px;

  @media #{$tablet-desktop} {
    margin-top: 72px;
    margin-bottom: 28px;
  }

  @media #{$desktop} {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__controls {
  margin: 24px 0 0;
  text-align: center;

  @media #{$tablet-desktop} {
    display: grid;
    margin-top: 8px;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
    text-align: left;
  }

  @media #{$desktop} {
    margin-top: 0;
  }
}

.form__button {
  width: 100%;
  margin: 0 0 17px;

  @media #{$tablet-desktop} {
    margin-bottom: 0;
  }
}

.form__comment {
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media #{$tablet-desktop} {
    font-size: 16px;
    line-height: 18px;
  }
}

.form__section--user {
  @media #{$desktop} {
    display: grid;
    margin-bottom: 23px;
    grid-template-columns: 1fr 1fr;
    row-gap: 19px;
    column-gap: 80px;
  }
}

.form__section--user .form__field {
  @media #{$desktop} {
    margin-bottom: 0;
  }
}

.form__section--contacts {
  @media #{$desktop} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: start;
  }
}
