.heading {
  padding: 0;
  font-family: $primary-font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;

  @media #{$tablet-desktop} {
    font-size: 60px;
    line-height: 60px;
  }
}

.heading--small {
  font-size: 24px;
  line-height: 26px;

  @media #{$tablet-desktop} {
    font-size: 36px;
    line-height: 36px;
  }
}

.heading--decorative {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0.67em;
    right: -100vw;
    left: 1em;
    z-index: -1;
    height: 2px;
    background-color: $background-color-accent;
  }

  &::first-line {
    background-color: $background-color;
  }
}

.heading__text {
  padding-right: 20px;
  box-decoration-break: clone;

  @media #{$tablet-desktop} {
    padding-right: 40px;
  }
}

.heading--decorative::before {
  @media #{$tablet-desktop} {
    content: "";
    position: absolute;
    top: 0.67em;
    right: calc(100% + 40px);
    left: -100vw;
    z-index: -1;
    height: 2px;
    background-color: $background-color-accent;
  }

  @media #{$desktop} {
    right: calc(100% + 40px);
  }
}
