.page-header {
  @media #{$mobile} {
    position: relative;
    padding: 11px 0 16px;
  }

  @media #{$tablet-desktop} {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media #{$desktop} {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.page-header__container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.page-header__logo {
  transition-property: opacity, outline-color;
  transition-duration: $animation-duration;

  &[href]:hover {
    opacity: 0.8;
  }

  @include focus;

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo::after {
  @media #{$narrow-mobile} {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    width: 101px;
    height: 18px;
    background-image: url("../img/icons/cat-energy.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
  }
}

.page-header__logo-image-wrapper {
  display: block;
}

.page-header__logo-image {
  vertical-align: middle;
  width: 151px;
  height: 38px;

  @media #{$narrow-mobile} {
    width: 34px;
    object-fit: cover;
    object-position: left;
  }

  @media #{$tablet-desktop} {
    width: 174px;
    height: 52px;
  }

  @media #{$desktop} {
    width: 202px;
    height: 59px;
  }
}

.page-header__toggler {
  position: relative;
  align-self: center;
  width: 24px;
  height: 20px;
  padding: 0;
  margin: 3px 0 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: opacity, outline-color;
  transition-duration: $animation-duration;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }

  &--close {
    background-image: url("../img/icons/close.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  @include focus;

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-desktop} {
    display: none;
  }
}

.page-header__navigation {
  @media #{$mobile} {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: $background-color;
    transform: translateY(100%);
  }

  @media #{$tablet-desktop} {
    padding: 8px 0 0px 36px;
  }
}

.page-header__navigation--close {
  @media #{$mobile} {
    display: none;
  }
}

.page-header__navigation-list {
  margin: 0;
}

@media #{$mobile} {
  .page-header--nojs {
    position: static;
    padding-bottom: 0;
    overflow-x: hidden;

    .page-header__toggler {
      display: none;
    }

    .page-header__navigation {
      position: static;
      grid-column: 1 / -1;
      margin-top: 16px;
      transform: none;
    }
  }
}
