.page {
  overflow-x: hidden;
}

.page__body {
  position: relative;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: auto 1fr auto;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;

  @media #{$tablet-desktop} {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__heading {
  margin: 28px 0 40px;

  @media #{$tablet-desktop} {
    margin-top: 41px;
    margin-bottom: 45px
  }

  @media #{$desktop} {
    margin-top: 47px;
  }
}

.page__form {
  @media #{$tablet-desktop} {
    margin-top: 54px;
  }
}
