.radiogroup {
  position: relative;
  padding: 23px 0 19px;
  outline: 2px solid transparent;
  outline-offset: -1px;
  transition-property: outline-color;
  transition-duration: $animation-duration;

  @media #{$tablet-desktop} {
    padding: 24px 28px;
    border: 1px solid $form-control-border-color-1;
  }
}

.radiogroup:focus-within {
  @media #{$tablet-desktop} {
    outline-color: $text-color-additional;
  }
}

.radiogroup::before,
.radiogroup::after {
  @media #{$mobile} {
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: $form-group-border-color;
  }
}

.radiogroup:focus-within::before,
.radiogroup:focus-within::after {
  @media #{$mobile} {
    height: 2px;
    background-color: $text-color-additional;
  }
}

.radiogroup::before {
  top: 0;
}

.radiogroup::after {
  bottom: 0;
}

.radiogroup__fields {
  display: grid;
  row-gap: 13px;
}
