.separator__button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
  }
}
