.site-navigation {
  padding: 0;
  list-style: none;

  @media #{$tablet-desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.site-navigation__item {
  @media #{$mobile} {
    position: relative;
    padding: 10px 20px 10px;
    text-align: center;
  }

  @media #{$tablet-desktop} {
    margin-left: 36px;
  }
}

.site-navigation__item::before {
  @media #{$mobile} {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: $site-navigation-item-border-color;
  }
}

.site-navigation__link {
  position: relative;
  display: inline-block;
  padding: 9px 0;
  font-family: $primary-font-family;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition-property: opacity, outline-color;
  transition-duration: $animation-duration;

  &[href]:hover {
    opacity: 0.6;
  }

  @include focus(currentColor);

  &[href]:active {
    opacity: 0.3;
  }

  @media #{$tablet-desktop} {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: inherit;
  }

  @media #{$desktop} {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 28px;
  }
}

.site-navigation__link--current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: $background-color-accent;
}

.site-navigation--alter {
  @media #{$desktop} {
    color: $text-color-secondary;
  }
}

.site-navigation--alter .site-navigation__link--current::after {
  @media #{$desktop} {
    background-color: currentColor;
  }
}
