// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1360px;

// Colors

$text-color: #000000;
$text-color-secondary: #ffffff;
$text-color-additional: #444444;
$background-color: #ffffff;
$background-color-secondary: #f2f2f2;
$background-color-accent: #68b738;

$button-hover-background-color: #5eaa2f;
$button-secondary-background-color: #f2f2f2;
$button-secondary-hover-background-color: #ebebeb;
$contacts-lead-text-color: #111111;
$copyright-logo-color: #666666;
$copyright-logo-hover-color: #68b738;
$price-list-name-color: #222222;
$price-list-info-heading-color: #111111;
$extra-price-list-name-color: #222222;
$radiobutton-label-text-color: #222222;
